<div class="dashboard-container">
    <h1 class="dashboard-title">Dashboard</h1>

    <div class="select-container">
        <div class="select-group">
            <label for="categorySelect">Categoria:</label>
            <select id="categorySelect" [(ngModel)]="selectedCategoryId" (ngModelChange)="onCategoryChange($event)">
              <option value="0" disabled selected>Selecione uma categoria</option>
              <option *ngFor="let category of categories" [value]="category.id">
                  {{ category.name }}
              </option>
          </select>
        </div>

        <div class="select-group">
            <label for="productSelect">Produto:</label>
            <select id="productSelect" [(ngModel)]="selectedProductId" (ngModelChange)="onProductChange($event)">
              <option value="0" disabled selected>Selecione um produto</option>
              <option *ngFor="let product of products" [value]="product.id">
                  {{ product.name }}
              </option>
          </select>
        </div>

        <div class="select-group">
            <label for="brandSelect">Marca:</label>
            <select id="brandSelect" [(ngModel)]="selectedBrandId" (ngModelChange)="onBrandChange($event)">
              <option value="0" disabled selected>Selecione uma marca</option>
              <option *ngFor="let brand of brands" [value]="brand.id">
                  {{ brand.name }}
              </option>
          </select>
        </div>
    </div>

    <ng-container *ngIf="selectedBrandId == 0; else salesChart">
        <app-empty-state></app-empty-state>
    </ng-container>

    <ng-template #salesChart>
        <canvas id="salesChart"></canvas>
    </ng-template>
</div>